@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Lato:wght@300&family=Montserrat:ital,wght@1,100&family=Oswald:wght@500&family=Roboto:wght@600&family=Shizuru&display=swap');

.login_main{
 
    width:30%;
    margin: auto;
    margin-top: 100px;
}

.login_main_first_p{
        text-align: center;
            margin: auto;
            display: block;
            color: #494949;
            font-style: normal;
            font-weight:600;
            font-size: 14px;
           line-height: 24px;
}

.login_main_second_p{
        text-align: center;
            font-style: normal;
            font-weight:900;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #202124;
            font-family: 'Fira Sans Condensed', sans-serif;
}
.login_form{
    height: auto;
    margin-top: 30px;
}
.login_terms{
    margin-top: 50px;
        font-family: 'Fira Sans Condensed', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 20px;
            color: #202124;
}
u {
    text-decoration: underline;
}
.login_form button{
        height: 44px;
            padding: 10px 40px;
            color: #ffffff;
            font-size: 13px;
            background-color: #202124;
            border: none;
            outline: none;
            border-radius: 200px;
            cursor: pointer;
            margin-top: 30px;
}
.login_or{
    display:flex;
justify-content: center;
align-items: center;
}
.login_or div:nth-child(1){
    height: 0.1px;
    width: 100%;
    background-color: lightgray;
}
.login_or div:nth-child(3) {
    height: 0.1px;
    width: 100%;
    background-color: lightgray;
}
.login_or div:nth-child(2){
padding:30px 10px ;
}
.login_skip button{
    width: 100%;
        background: #ffffff;
        color: #202124;
        font-style: normal;
        font-weight: 550;
        font-size: 14px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        outline: none;
        outline-color: initial;
        outline-style: none;
        outline-width: initial;
        border-radius: 66px;
        border: 1px solid #202124;
    font-family: 'Fira Sans Condensed', sans-serif;
        padding: 8px 40px;
        cursor: pointer;
}
.login_kfc_image {
    height: 76px;
    width: 76px;
}
.login_input input{
    border: none;
        text-align: left;
        width: 100%;
        border: none;
        border-bottom: 1px solid #202124;
        outline: none;
        font-family: 'National 2 Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.1px;
        color: #202124;
        padding-bottom: 0.7%;
        position: relative;
}