@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&family=Lato:wght@300&family=Montserrat:ital,wght@1,100&family=Oswald:wght@500&family=Roboto:wght@300&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Montserrat:ital,wght@1,100&family=Oswald:wght@500&family=Roboto:wght@300&family=Shizuru&display=swap');
.categories_line{
    display: flex;
    width: 400px;
    height: 1.5px;
    background-color: lightgray;
    align-self: center;
margin-left: 5%;
}
.categories_heading{
    display: flex;
font-family: 'Fira Sans Condensed', sans-serif;
font-weight: bolder;
margin-top: 75px;
}
.category_main{
margin-left: 17%;

}

/* Individual data  Card */

.categorycard_image {
    width: 100%;
    height: 210px;

}

.categorycard_name {
    font-family: 'Oswald', sans-serif;

}
.categorycard_image_last{
        width: 85%;
        height: 210px;
}